<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!--  设置控制台打印格式  -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 给名为com.lordbao.demo.MyLoggerLevelTest的logger设置级别为INFO,并应用上述设置的格式   -->
    <logger name="com.lordbao.demo.MyLoggerLevelTest" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 根logger   -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>